/* Container for the logs */
.run-id-header{
    font-size: larger;
    font-weight: bold;
    background: green; 
    padding: 5px; 
}
.log-meta {
      margin: 5px 25px;
    padding: 1px 11px;
    color: sandybrown;
}
.log-simulation-start { 
    color: #4af626;                 /* Terminal Green */
    font-family: 'Courier New', monospace;
    font-weight: bold;
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-left: 5px solid #28a745; /* Thick green left border */
    border-radius: 4px;
    display: flex; 
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.log-simulation-results {  
    font-family: 'Courier New', monospace;
    font-weight: bold;
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-bottom: 2px solid #28a745; /* Thick green left border */
    border-radius: 4px;
    display: flex; 
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.run-id-content{ 
    padding: 5px; 
}
.run-card{
    border: 1px solid grey;
    margin: 5px;
    padding: 5px; 
}

 
#logSim {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: 'Fira Code', monospace;
  padding: 5px;
  border-radius: 8px;
  line-height: 1.5; 
  overflow-y: auto; 
  height: calc(100vh - 130px); 
    
}

/* Section Headers (e.g., ------ Command line values ------) */
.log-section {
  color: #4fc1ff;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Key-Value Pairs (e.g., InFolder: data/...) */
.log-entry {
  display: flex;
  padding-left: 15px;
}

.log-key {
  color: #ce9178; /* Warm orange for keys */
  font-weight: 600;
  min-width: 180px;
}

.log-value {
  color: #b5cea8; /* Greenish for values */
  word-break: break-all;
}

/* Simulation Results (The Tables) */
.log-table-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 4px 10px;
  background: rgba(255, 255, 255, 0.03);
}

.log-table-header {
  background: #333;
  color: #fff;
  font-weight: bold;
}

/* Highlight specific alerts or missing files */
.log-warning, log-warn {
  color: #d7ba7d;
  font-style: italic;
  padding-left: 15px;
}



/* Add this to your tags$head(tags$style(...)) */
.sim-popup-table {
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-size: 11px;
    width: auto;
}
.helpTitle {
  color:sandybrown;
  cursor: pointer;
}
.sim-popup-header {
    background-color: #b94a48;
    color: white;
    padding: 4px 12px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.sim-popup-label {
    padding: 4px 8px 2px 0px;
    font-weight: bold;
    color: #555;
    border-bottom: 1px solid #f0f0f0;
}

.sim-popup-value {
    padding: 4px 0px 2px 8px;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    border-bottom: 1px solid #f0f0f0;
}