#logbox {
  max-height: 400px;
  overflow-y: auto;
  font-family: monospace;
  background: #111111dd;
  padding: 10px;
  border-radius: 6px;
}
.leaflet-layer-group-header{
 cursor: pointer;  
}

.leaflet-control-layers{
  min-width: 100px !important;
}
.easy-button-button.pressed {
  background-color: #ccc !important;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.4) !important;
}

#zipfileload_progress {
      width: 200px; 
}
#zipfileload-label + div {
   margin-top: -6px;
 }
#shiny-tab-dashboardMap .direct-chat-contacts{
  z-index: 9999 !important;
  border:1px solid black;
}
.log-info {
  color: #9cdcfe;
}
.info.legend.rastervals.leaflet-control {
  all: unset;
  float:right;
  clear:both;
}


#map > div.leaflet-control-container > div.leaflet-bottom.leaflet-right{
  border: 1px solid black;
  background: aliceblue;
  padding: 5px;
  display:none;
}

.log-warn {
  color: #f9d423;
}

#showLegendCLS{
 font-size: large;
 cursor: pointer;
}

.log-error {
  color: #ff6b6b;
  font-weight: bold;
}

.log-default {
  color: #cccccc;
}

.layers-subtitle {
  font-weight: 600;
  font-size: 12px;
  margin: 6px 0 4px;
  padding-top: 4px;
  border-top: 1px solid #ddd;
  color: #444;
}

.tippy-box {
  background-color: #d3d3d3 !important; /* light grey background */
  color: black !important;              /* black text */
  border: 1px solid black !important;   /* black outline */
  border-radius: 4px;                   /* optional: rounded corners */
}

/* Optional: adjust arrow color */
.tippy-box[data-theme] .tippy-arrow {
  color: black !important; /* matches background */
}


