/* Smooth modern tooltip */
.tippy-box[data-theme~='cool'] {
  background: linear-gradient(135deg, #fff, #ccc);
  color: black;
  border-radius: 8px;
  font-size: 13px;
  border:1px solid black;
  padding: 6px 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.75);
}

.tippy-box .tippy-content { 
  text-shadow:
    0px 0px 2px grey
}

div.tippy-content > a {
  color:darkred;
  font-weight: bold;
}

#shiny-tab-dashboardMap > div {
  padding:0px !important;
}
/* Arrow styling */
.tippy-box > .tippy-arrow::before {
  color: black;
}
 
.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-logo {
  margin-top: auto;
  text-align: center;
}

/* Full-page overlay */
#page-loader {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);  /* semi-transparent */
  z-index: 99999;                     /* above everything */
  display: none;                       /* hidden by default */
  justify-content: center;
  align-items: center;
}

/* Show class toggles display */
#page-loader.show {
  display: flex;
}

/* Simple spinning circle */
.loader-spinner {
  width: 110px;
  height: 110px;
  border: 11px solid #ccc;
  border-top: 11px solid #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin:100px auto;
}

/* Keyframes for spinner rotation */
@keyframes spin {
  100% { transform: rotate(360deg); }
}